<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GAMES</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>

<h2>USER INFO</h2>
<br>

LOGIN: {{login}}
<br>
HOBBY: {{hobby}}
<br>
AGE: {{age}}
<br>
<form method="GET" action="/api/delete">
    <br>
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>